<h1>Retweeted Tweets</h1>

<p><%= "Last retweet: #{since}" %></p>

<% if tweets.any? %>
  <ul>
    <% tweets.each do |tweet| %>
      <li><%= "#{tweet.id} #{tweet.user.name}: #{tweet.text}" %></li>
    <% end %>
  </ul>
<% else %>
  No retweets.
<% end %>